<div class="mobile-locked">
    <MudIcon Icon="@Icons.Material.Filled.Lock" Style="font-size: 4rem;" Color="Color.Error" />
    <h2>Zugang gesperrt</h2>
    <p>Nach 3 falschen PIN-Eingaben wurde dein Zugang gesperrt.</p>
    <p>Bitte wende dich an deinen Administrator.</p>
</div>
