@inherits LayoutComponentBase

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="mobile-layout">
    <header class="mobile-header">
        <img src="/company/logos/logo_no_name.png" alt="Werkbank" class="mobile-logo" />
    </header>

    <main class="mobile-content">
        @Body
    </main>
</div>
